<div class="page-header">
  <h1><%=t '.title', :default => "Municipios expulsores / receptores" %></h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: File.join(Rails.configuration.relative_url_root, 
                   '/conteos/municipios'),
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="col-sm-offset-0 col-sm-2 col-md-offset-1 col-md-1">
        Expulsión entre:
      </div>
      <div class="col-sm-offset-0 col-sm-4">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Inicial',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => "" 
          }
        %>
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Final',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => "" 
          }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-sm-1">
        <%= Sivel2Sjr::Casosjr.human_attribute_name(:oficina) %>
      </div>
      <div class="col-sm-4">
        <%= f.input :oficina_id,
          collection: Sip::Oficina.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="col-md-offset-5 col-md-2">
        <%= f.button :submit, 'Filtrar', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<div id="resultado">
  <%= render 'resultado_municipios' %>
</div> <!-- id: resultado -->
