<table class="tablapoblacion table  table-bordered table-sm ">
  <thead class="thead-light">
    <tr><th>Rango de Edad</th>
      <th><%= Cor1440Gen.actividadg2 %></th>
      <th><%= Cor1440Gen.actividadg4 %></th>
      <th><%= Cor1440Gen.actividadg5 %></th>
      <th>Total</th></tr>
  </thead>
  <tbody id="actividad_rangoedadac">
    <% @registro.actividad_rangoedadac.each do |rango| %>
      <tr>
        <td>
          <%= Cor1440Gen::Rangoedadac.find(rango.rangoedadac_id).nombre %>
        </td>
        <td>
          <% rfr = rango.fr? ? rango.fr : 0 %>
          <%= rfr %>
        </td>
        <td>
          <% rmr = rango.mr? ? rango.mr : 0 %>
          <%= rmr %>
        </td>
        <td>
          <% rs=  rango.s? ? rango.s : 0 %>
          <%= rs %>
        </td>
        <td>
          <b> <%= rfr + rmr + rs %> </b>
        </td>
      </tr>
    <% end %>
    <tr>
      <th scope='row'>Total</th>
      <td id="tactividadfr">
        <b> <%= fr = @registro.actividad_rangoedadac.sum(:fr) %> </b>
      </td>
      <td id="tactividadmr">
        <b> <%= mr = @registro.actividad_rangoedadac.sum(:mr) %> </b>
      </td>
      <td id="tactividads">
        <b> <%= sr = @registro.actividad_rangoedadac.sum(:s) %> </b>
      </td>
      <td id="tactividadtot">
        <b> <%= fr + mr + sr %> </b>
      </td>
    </tr>
  </tbody>
</table>
