<table class="tablalistadoasistencia table  table-bordered table-sm ">
  <thead class="thead-light">
    <tr>
      <th>Código de persona</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th colspan="2">Identificación</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>Perfil</th>
      <th>Caso asociado</th>
    </tr>
  </thead>
  <tbody id="asistencia">
    <% @registro.asistencia.each do |asistencia| %>
      <tr>
        <td>
          <%= asistencia.persona.id if asistencia.persona.id %>
        </td>
        <td>
          <%= asistencia.persona.nombres if asistencia.persona.nombres %>
        </td>
        <td>
          <%= asistencia.persona.apellidos if asistencia.persona.apellidos %>
        </td>
        <td>
          <%= asistencia.persona.tdocumento.sigla if asistencia.persona.tdocumento%>
        </td>
        <td>
          <%= asistencia.persona.numerodocumento if asistencia.persona.numerodocumento %>
        </td>
        <td>
          <%= asistencia.persona.sexo if asistencia.persona.sexo %>
        </td>
        <td>
          <% if asistencia.persona %>
            <%= edad_de_fechanac_fecha(
              asistencia.persona.anionac, asistencia.persona.mesnac, 
              asistencia.persona.dianac, Date.today.year, 
              Date.today.month, Date.today.day)
            %>
          <% end %>
        </td>
        <td>
          <%= asistencia.perfilactorsocial.nombre if asistencia.perfilactorsocial %>
        </td>
        <td>
          <% casoa = Sivel2Gen::Victima.where(id_persona: asistencia.persona.id).pluck(:id_caso) %>
          <%= casoa.empty? ? "Sin caso asociado" : casoa.join(', ') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
