<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <%= f.input :fechaatencion, 
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string, :label => "Fecha de Atención" 
    %>
    <%= f.association :derecho, 
      collection: Derecho.habilitados,
      label: "Derechos Vulnerados",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :informacionder, 
      label_inline: "Se brindó información",
      boolean_style: :nested
    %>
    <%= f.input :accionesder, label: "Acciones D.V." %>

    <%= f.association :ayudaestado, 
      collection: Ayudaestado.habilitados,
      label: "Ayuda del Estado",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :institucionayes, 
      label: "Instituciones que ayudaron",
      wrapper_html: { style: "padding-bottom: 18px;" }
    %>
    <%= f.input :cantidadayes, label: "Detalle A. Estado" %>

    <%= f.association :progestado, 
      collection: Progestado.habilitados,
      label: "Programas y Respuesta del Estado",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :difobsprog, 
      label: "Dificultades y Observaciones",
      wrapper_html: { style: "padding-bottom: 18px;" }
    %>
    <%= f.association :ayudasjr, 
      collection: Ayudasjr.habilitados,
      label: "Asistencia Humanitaria",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :detallear, 
      label: "Detalle A. Humanitaria",
      wrapper_html: { style: "padding-bottom: 18px;" }
    %>
    <%= f.input :montoar, label: "Monto A. Humanitaria" %>

    <%= f.association :motivosjr, 
      collection: Motivosjr.habilitados,
      label: "Servicios y Asesorias del SJR",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :detallemotivo, label: "Detalle" %>

    <%= f.association :aslegal, 
      collection: Aslegal.habilitados,
      label: 'Seguimiento Judicial',
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :detalleal, label: "Detalle S. Judicial" %>
    <%= f.input :montoal, label: "Monto S. Judicial" %>



    <%= f.input :numprorrogas, as: :integer, 
      label: "Número de Prorrogas" 
    %>
    <%= f.input :montoprorrogas, as: :integer, 
      label: "Monto Prorrogas" 
    %>
    <%= f.input :fechaultima, 
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string, :label => "Fecha última prorroga" 
    %>
    <%= f.input :lugarultima, as: :text, 
      label: "Lugar última prorroga" 
    %>
    <%= f.input :turno, as: :text, 
      label: "Turno próxima prorroga" 
    %>
    <%= f.input :lugar, as: :text, 
      label: "Lugar solicitud Turno" 
    %>
    <%= f.input :descamp, as: :text, 
      label: "Descripción o ampliación caso" 
    %>
    <%= f.input :compromisos, as: :text, 
      label: "Compromisos de la Persona" 
    %>
    <%= f.input :remision, as: :text, 
      label: "Remisión a otra Org." 
    %>
    <%= f.input :orientaciones, as: :text, label: "Recomendaciones" %>
    <%= f.input :gestionessjr, as: :text, 
      label: "Gestiones del SJR" 
    %>
    <%= f.input :observaciones, as: :text, 
      label: "Observaciones del caso" 
    %>
    <%= f.input :id_personadesea, 
      collection: Personadesea.habilitados,
      label: "Persona desea",
      label_method: :nombre, 
      value_method: :id 
    %>
    <%= f.input :verifcsjr, as: :text, 
      label: "Verificación Compromisos SJR" 
    %>
    <%= f.input :verifcper, as: :text, 
      label: "Verificación Compromisos Persona" 
    %>


    <%= f.input :efectividad, as: :text, 
      label: "Efectividad en la Acción" 
    %>

    <!--%= f.association :emprendimiento, 
      collection: Emprendimiento.where(fechadeshabilitacion: nil).order(:nombre).all,
      label: "Emprendimiento",
      label_method: :nombre, 
      value_method: :id 
    %-->
    <!--%= f.input :detalleem, 
      label: "Detalle Emprendimiento",
      wrapper_html: { style: "padding-bottom: 18px;" }
    %-->
    <!--%= f.input :montoem, 
      label: "Monto Emprendimiento",
      wrapper_html: { style: "padding-bottom: 18px;" }
    %-->

    <!--%= f.association :aspsicosocial, 
      collection: Aspsicosocial.where(fechadeshabilitacion: nil).order(:nombre).all,
      label: "Asistencia Psicosocial",
      label_method: :nombre, 
      value_method: :id 
    %-->
    <!--%= f.input :detalleap, label: "Detalle A. Psicosocial" %>
    <!--%= f.input :montoap, label: "Monto A. Psicosocial" %-->

    <%= link_to_remove_association "Eliminar Respuesta", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
