<div class="page-header">
  <h1><%=t '.title', :default => "Municipios expulsores / receptores" %></h1>
</div>

<div sytle="text-align: right">
  <%= form_tag(conteos_municipios_path, method: "get", remote: true) do %>
    Expulsión entre:
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
      "data-behaviour" => "datepicker" %> -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
    "data-behaviour" => "datepicker" %>
    <%= submit_tag("Contar") %>
  <% end %>
</div>

<div id="resultado">
  <%= render 'resultado_municipios' %>
</div> <!-- id: resultado -->
