<div class="page-header">
  <h1><%=t '.title', :default => "Personas atendidas" %></h1>
</div>

<div sytle="text-align: right">
  <%= form_tag(conteos_personas_path, method: "get", remote: true) do %>
    Recepción entre:
    <%= text_field_tag 'fechaini', @fechaini, maxlength: 10, size: 12, 
      "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
    -
    <%= text_field_tag 'fechafin', @fechafin, maxlength: 10, size: 12, 
      "data-behaviour" => "datepicker", "data-contarautomatico" => "" 
    %>
    <br>
    Según:
    <%= select_tag "segun", 
      options_for_select(
        ["", "MES RECEPCIÓN", "RANGO DE EDAD", "SECTOR SOCIAL", "SEXO"]
      ),
      "data-contarautomatico" => ""
    %>
    Oficina:
    <% o = options_from_collection_for_select(
         Sivel2Gen::Regionsjr.habilitados, "id", "nombre"
      )
    %>
    <%= select_tag "oficina", o, 
      {include_blank: true, "data-contarautomatico" => ""} 
    %>
    <br>
    Última expulsión:
    <%= check_box_tag 'departamento', 1, false, "data-contarautomatico" => "" %>
    Departamento,
    <%= check_box_tag 'municipio', 1, false, "data-contarautomatico" => "" %> 
    Municipio<br>
    <%= submit_tag("Contar") %>
  <% end %>
</div>

<div id="resultado">
  <%= render 'resultado_tabla' %>
</div> <!-- id: resultado -->
