<div class="row">
  <div class="col-md-12">
    <label>¿Piensa establecerse en este lugar?</label></br>
    <%=
      f.collection_radio_buttons(
        :establecerse, [[true, 'Si'] ,[false, 'No'] ,[nil, 'No Responde']], :first, :last  ) do |b|
          b.label(class: "mr-4") { b.radio_button + b.text }
        end
      %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <label>Modalidad geográfica:</label>
    <input type="text" name="clasificacion" readonly>
  </div>
  <div class="col-sm-6">
    <label>Sub-modalidad geográfica:</label>
    <input type="text" name="subclasificacion" readonly>
  </div>
</div>

<%= f.association :tipodesp,
  collection: Sivel2Sjr::Tipodesp.where(fechadeshabilitacion: nil),
  include_blank: false,
  label_method: :nombre,
  value_method: :id 
%>
<%= f.association :categoria, 
  collection: Sivel2Gen::Categoria.habilitados.
    where("tipocat <> 'I'"),
  label_method: :nombre, 
  value_method: :id 
%>
<%= f.input :otrosdatos, as: :text %>
<%= f.input :declaro, collection: [["SI", :S], 
  ["NO", :N], ["NO SABE / NO RESPONDE", :R]], 
  include_blank: false,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => 'Registre si el solicitante ha declarado ante alguna entidad'
  }
%>
<%= f.input :hechosdeclarados, as: :text,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => 'Descripción de los hechos declarados'
  }
%>
<%= f.input :fechadeclaracion, 
  input_html: { 
    "data-behaviour" => "datepicker",
    value: f.object.fechadeclaracion || '' 
  },
  as: :string
%>
<%= f.association :declaroante,
  collection: Sivel2Sjr::Declaroante.where(fechadeshabilitacion: nil),
  label_method: :nombre,
  value_method: :id,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => 'Entidad ante la cual rindió su declaración'
  }
%>
<%= f.association :inclusion,
  collection: Sivel2Sjr::Inclusion.where(fechadeshabilitacion: nil),
  label_method: :nombre,
  value_method: :id,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => 'Inscripción del solicitante en el Registro Único de Víctimas'
  }
%>
<%= f.association :acreditacion,
  collection: Sivel2Sjr::Acreditacion.where(fechadeshabilitacion: nil),
  label_method: :nombre,
  value_method: :id,
  input_html: {
    "data-toggle" => 'tooltip',
    "title" => 'Medio que tiene el solicitante para certificar su situación'
  }
%>
<%= f.input :retornado, 
    boolean_style: :nested,
    inline_label: Sivel2Sjr::Desplazamiento.human_attribute_name(:retornado)
%>
<%= f.input :reubicado, 
    boolean_style: :nested,
    inline_label: Sivel2Sjr::Desplazamiento.human_attribute_name(:reubicado)
%>
<%= f.input :connacionalretorno, 
    boolean_style: :nested,
    inline_label: Sivel2Sjr::Desplazamiento.human_attribute_name(:connacionalretorno)
%>
<%= f.input :acompestado, 
    boolean_style: :nested,
    inline_label: Sivel2Sjr::Desplazamiento.human_attribute_name(:acompestado)
%>
<%= f.input :connacionaldeportado, 
    boolean_style: :nested,
    inline_label: Sivel2Sjr::Desplazamiento.human_attribute_name(:connacionaldeportado)
%>
<%= f.input :oficioantes,
  input_html: { 
    value: f.object.oficioantes || '',
    "data-toggle" => 'tooltip',
    "title" => 'Ocupación antes del desplazamiento'
  }
%>
<%= f.association :modalidadtierra,
  collection: Sivel2Sjr::Modalidadtierra .where(fechadeshabilitacion: nil),
  label_method: :nombre,
  value_method: :id 
%>
<%= f.input :materialesperdidos, as: :text %>
<%= f.input :inmaterialesperdidos, as: :text %>
<%= f.input :protegiorupta, 
    boolean_style: :nested,
    inline_label: Sivel2Sjr::Desplazamiento.human_attribute_name(:protegiorupta)
%>
<%= f.input :documentostierra, as: :text %>

