<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <%= simple_form_for @caso, html: { class: 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div class="accordion" id="acordeon">

        <%= f.simple_fields_for :casosjr do |s| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#basicos">Datos Básicos</a>
            </div>
            <div id="basicos" class="accordion-body collapse in">
              <div class="accordion-inner">
                <%= render 'basicos', f: f, s: s %>
              </div>
            </div> 
          </div> <! -- accordion-group basicos -->

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#contacto">Contacto</a>
            </div>
            <div id="contacto" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'contacto', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group contacto -->


          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#victima">Núcleo Familiar</a>
            </div>
            <div id="victima" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'victimas', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group victima -->

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#ubicacion">Ubicación</a>
            </div>
            <div id="ubicacion" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'ubicaciones', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group ubicacion -->

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#refugio">Refugio</a>
            </div>
            <div id="refugio" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'refugio', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group refugio -->

  
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#desplazamiento">Desplazamientos</a>
            </div>
            <div id="desplazamiento" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'desplazamientos', f: f %>
              </div>
            </div>
          </div> <! -- accordion-group desplazamiento -->
  
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#presponsable">Presuntos Responsables</a>
            </div>
            <div id="presponsable" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'sivel2_gen/casos/presponsables', f: f %>
              </div>
            </div>
          </div> <! -- accordion-group  presponsable-->
    
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#antecedentes">Causas/Antecedentes</a>
            </div>
            <div id="antecedentes" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'antecedentes', f: f %>
              </div>
            </div>
          </div> <! -- accordion-group antecedentes -->
    
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#atencion">Respuesta Institucional y Seguimiento</a>
            </div>
            <div id="atencion" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'respuestas', f: f %>  
              </div>
            </div>
          </div> <! -- accordion-group sesiones de atención-->
  
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#descripcion">Descripción del Desplazamiento</a>
            </div>
            <div id="descripcion" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'memo', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group Descripción-->
  
  
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#anexo">Anexos</a>
            </div>
            <div id="anexo" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'sivel2_gen/casos/anexos', f: f %>  
              </div>
            </div>
          </div> <! -- accordion-group anexos -->
  
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse"
                href="#etiquetas">Etiquetas</a>
            </div>
            <div id="etiquetas" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'sivel2_gen/casos/etiquetas', f: f %>  
              </div>
            </div>
          </div> <! -- accordion-group etiquetas -->
        
      <% end %> <!-- simple_fields_for :casosjr -->
      </div> <!-- accordion -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        casos_path, class: 'btn' 
      %>
    </div> <!-- form-action -->

  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->
