<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <%= simple_form_for @caso, :html => { :class => 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div role="tabpanel">       
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="nav-item"><a href="#basicoscontacto" 
            class="fichacambia nav-link active" aria-selected="true" aria-controls="basicos" role="tab" 
            data-toggle="tab">Datos Básicos y Contacto</a></li>
          <li role="presentation" class="nav-item"><a href="#victima" class="fichacambia nav-link" 
            aria-controls="victima" role="tab"
            data-toggle="tab">Núcleo Familiar</a></li>
          <li role="presentation" class="nav-item"><a href="#ubicacion" class="fichacambia nav-link" 
            aria-controls="ubicacion" role="tab" 
            data-toggle="tab">Ubicación</a></li>
          <li role="presentation" class="nav-item"><a href="#migracion" class="fichacambia nav-link" 
            aria-controls="migracion" role="tab" 
            data-toggle="tab">Migración</a></li>
          <li role="presentation" class="nav-item"><a href="#desplazamiento" class="fichacambia nav-link" 
            aria-controls="desplazamiento" role="tab" 
            data-toggle="tab">Desplazamientos</a></li>
          <li role="presentation" class="nav-item"><a href="#presponsable" class="fichacambia nav-link" 
            aria-controls="presponsable" role="tab" 
            data-toggle="tab">Presuntos Responsables</a></li>
          <li role="presentation" class="nav-item"><a href="#antecedentes" class="fichacambia nav-link" 
            aria-controls="antecedentes" role="tab" 
            data-toggle="tab">Causas/Antecedentes</a></li>
          <li role="presentation" class="nav-item"><a href="#atencion" class="fichacambia nav-link" 
            aria-controls="atencion" role="tab" 
            data-toggle="tab">Respuesta Institucional y Seguimiento</a></li>
          <li role="presentation" class="nav-item"><a href="#descripcion" class="fichacambia nav-link" 
            aria-controls="descripcion" role="tab" 
            data-toggle="tab">Descripción</a></li>
          <li role="presentation" class="nav-item"><a href="#anexos" class="fichacambia nav-link" 
            aria-controls="anexos" role="tab" 
            data-toggle="tab">Anexos</a></li>
          <li role="presentation" class="nav-item"><a href="#etiquetas" class="fichacambia nav-link" 
            aria-controls="etiquetas" role="tab" 
            data-toggle="tab">Etiquetas</a></li>
        </ul>
        <div class="tab-content">
          <%= f.simple_fields_for :casosjr do |s| %>
            <div role="tabpanel" class="tab-pane fade active show" id="basicoscontacto" > 
              <%= render 'basicoscontacto', :f => f, :s => s %>
            </div> 

            <div role="tabpanel" class="tab-pane fade" id="victima" > 
              <%= render 'victimas', :f => f, :s => s %>
            </div> 

            <div role="tabpanel" class="tab-pane fade" id="ubicacion" > 
              <%= render 'ubicaciones', :f => f, :s => s %>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="migracion" > 
              <%= render 'migraciones', :f => f, :s => s %>
            </div> 

          <div role="tabpanel" class="tab-pane fade" id="desplazamiento" > 
            <%= render 'desplazamientos', :f => f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="presponsable"> 
            <%= render 'sivel2_gen/casos/presponsables', :f => f %>
          </div> 
  
          <div role="tabpanel" class="tab-pane fade" id="antecedentes" > 
            <%= render 'antecedentes', :f => f %>
          </div>
  
          <div role="tabpanel" class="tab-pane fade" id="atencion" > 
            <%= render 'respuestas', :f => f %>
          </div> 

          <div role="tabpanel" class="tab-pane fade" id="descripcion" > 
            <%= render 'memo', :f => f, :s => s %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="anexos"> 
            <%= render 'sivel2_gen/casos/anexos', :f => f  %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="etiquetas"> 
            <%= render 'sivel2_gen/casos/etiquetas', :f => f  %>
          </div> 

        <% end %> <!-- form s -->
        </div> <!-- tab-content -->
      </div> <!-- tabpanel -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        casos_path, :class => 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end %> <!-- else -->

