<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <%= simple_form_for @caso, html: { class: 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div class="accordion" id="acordeon">

        <%= f.simple_fields_for :casosjr do |s| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#basicoscontacto">Datos Básicos y Contacto</a>
            </div>
            <div id="basicoscontacto" class="accordion-body collapse in">
              <div class="accordion-inner">
                <%= render 'basicoscontacto', f: f, s: s %>
              </div>
            </div> 
          </div> <! -- accordion-group basicoscontacto -->

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#victimas">Núcleo Familiar</a>
            </div>
            <div id="victimas" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'victimas', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group victimas -->

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#migracion">Migración</a>
            </div>
            <div id="migracion" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'migraciones', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group migracion -->

  
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#desplazamiento">Desplazamientos</a>
            </div>
            <div id="desplazamiento" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'desplazamientos', f: f %>
              </div>
            </div>
          </div> <! -- accordion-group desplazamiento -->
  
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle fichacambia" data-toggle="collapse" 
                href="#atencion">Respuesta Institucional y Seguimiento</a>
            </div>
            <div id="atencion" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= render 'respuestas', f: f, s: s %>
              </div>
            </div>
          </div> <! -- accordion-group sesiones de atención-->

      <% end %> <!-- simple_fields_for :casosjr -->
      </div> <!-- accordion -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        casos_path, class: 'btn' 
      %>
    </div> <!-- form-action -->

  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->
