<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <div class="row">
      <div class="col-md-12">
        Salida
      </div>
    </div>
    <div class="row">
      <div class=" offset-md-0 col-md-3">
        <%= f.input :fechasalida, 
          as: :string, 
          label: false,
          input_html: { 
            placeholder: 'Fecha de salida',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
      </div>
      <div class="col-md-3">
        <%= f.association :salida_pais,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'País de salida',
            'data-placeholder' => "País de salida...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :salida_departamento,
          collection: Sip::Departamento.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Departamento',
            'data-placeholder' => "Departamento de salida...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :salida_municipio,
          collection: Sip::Municipio.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Municipio',
            'data-placeholder' => "Municipio de salida...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :salida_clase,
          collection: Sip::Clase.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Centro poblado',
            'data-placeholder' => "Centro poblado de salida...",
            class: 'chosen-select' 
          } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Llegada
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.input :fechallegada, 
          as: :string, 
          label: false,
          input_html: { 
            placeholder: 'Fecha de llegada',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
      </div>
      <div class="col-md-3">
        <%= f.association :llegada_pais,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'País de llegada',
            'data-placeholder' => "País de llegada...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :llegada_departamento,
          collection: Sip::Departamento.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Departamento',
            'data-placeholder' => "Departamento de llegada...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :llegada_municipio,
          collection: Sip::Municipio.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Municipio',
            'data-placeholder' => "Municipio de llegada...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :llegada_clase,
          collection: Sip::Clase.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Centro poblado',
            'data-placeholder' => "Centro poblado de llegada...",
            class: 'chosen-select' 
          } %>
      </div>
    </div>

    <div>
        Perfil de migración
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.association :perfilmigracion,
          collection: ::Perfilmigracion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            class: 'chosen-select' 
          } %>
        <!--%= f.input :perfilmig, as: :check_boxes, collection: ['Pendular', 'En transito', 'Con vocación de permanencia'], wrapper: :custom_collection_inline %-->
        <% edest = !f.object.perfilmigracion || 
          f.object.perfilmigracion_id != 2 ? 
          'display:none' : '' %>
      </div>
      <div class="col-md-3">
        <%= f.association :destino_pais,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'País de destino',
            'data-placeholder' => "País de destino...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :destino_departamento,
          collection: Sip::Departamento.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Departamento',
            'data-placeholder' => "Departamento de destino...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :destino_municipio,
          collection: Sip::Municipio.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Municipio',
            'data-placeholder' => "Municipio de destino...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-2">
        <%= f.association :destino_clase,
          collection: Sip::Clase.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Centro poblado',
            'data-placeholder' => "Centro poblado de destino...",
            class: 'chosen-select' 
          } %>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-0 col-md-6">
        <%= f.association :migracontactopre,
          collection: ::Migracontactopre.habilitados,
          label_method: :nombre,
          value_method: :id,
          input_html: {
            class: 'chosen-select' 
          } %>
      </div>
      <div class="offset-md-0 col-md-6">
        <%= f.association :statusmigratorio,
          collection: Sivel2Sjr::Statusmigratorio.habilitados,
          label_method: :nombre,
          value_method: :id,
          input_html: {
            class: 'chosen-select' 
          } %>
      </div>
    </div> <!-- row -->

    <% ecamposPep = (f.object.statusmigratorio &&
      (f.object.statusmigratorio_id == 1 || 
       f.object.statusmigratorio_id == 5 ||
       f.object.statusmigratorio_id == 6))  ?  '' : 'display:none' %>

    <div class="row" id="camposPep" style="<%= ecamposPep %>">
      <div class="offset-md-0 col-md-6">
        <div class="row">
          <div class="offset-md-0 col-md-8">
            <label class="form-check-label" for="riesgoApatridia">
              ¿Cuenta con PEP?
            </label>  
          </div>
          <div class="offset-md-0 col-md-4">
            <%=f.input :pep, 
              label: false,
              :collection => { 'No' => 0, 'Si' => 1}, 
              input_html: {
                "data-toggle" => 'tooltip',
                "title" => '¿Cuenta con Permiso Especial de Permanencia?',
                class: 'chosen-select' 
              },
              selected: f.object.pep ? 1 : 0 %>
          </div>
        </div>
      </div>
      <% pepest = !f.object.pep ? 
        'display:none' : '' %>
      <div class="offset-md-0 col-md-3" style=<%= pepest %>>
        <div>
          Fecha de Registro PEP:
        </div>
        <%= f.input :fechaPep, 
          as: :string, 
          label: false,
          input_html: { 
            placeholder: 'Seleccione fecha',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
      </div>
    </div> 
    
    <div class="row">
      <div class="offset-md-0 col-md-6">
        <div class="row">
          <div class="offset-md-0 col-md-8">
            <label class="form-check-label" for="riesgoApatridia">
              Persona con NPI
            </label>  
          </div>
          <div class="offset-md-0 col-md-4">
            <%= f.input :proteccion_id,
              collection: Sivel2Sjr::Proteccion.habilitados,
              label_method: :nombre,
              value_method: :id,
              label: false,
              input_html: {
                "data-toggle" => 'tooltip',
                "title" => 'Elegir de la lista el Nivel Protección Internacional que requiere el solicitante',
                class: 'chosen-select' 
              }
            %>
        </div>
        </div>
      </div>
      
      <% npiest = f.object.proteccion && f.object.proteccion_id == 8 ? 
        '' : 'display:none' %>
      <div class="offset-md-0 col-md-3 datosNpi" style=<%= npiest %>>
        <div>
          Fecha de declaración:
        </div>
        <%= f.input :fechaNpi, 
          as: :string, 
          label: false,
          input_html: { 
            value: f.object.fechaNpi ? f.object.fechaNpi : '',
            "title" => 'Seleccione fecha de registro',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
        <div>
          Número de salvoconducto:
        </div>
        <%= f.input :salvoNpi,
          as: :string,
          label: false,
          input_html: {
            value: f.object.salvoNpi ? f.object.salvoNpi : '',
          } %>
        <div>
          Causa del refugio:
        </div>
        <%= f.association :causaRefugio, 
          collection: Sivel2Gen::Categoria.habilitados.
          where(supracategoria_id: [200,201,202]),
          label: false,
          label_method: :nombre,
          value_method: :id,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Causa del refugio',
            'data-placeholder' => "Causa del refugio...",
            class: 'chosen-select' 
          } %>

    </div>
    </div>  

    <div class="row">
      <div class="offset-md-0 col-md-12">
        <label class="form-check-label">
          Observaciones
        </label>
        <%= f.input :observacionesref, 
          label: false,
          input_html: {
            value: f.object.observacionesref ? f.object.observacionesref : '',
            "data-toggle" => 'tooltip',
            "title" => 'Añada los comentarios adicionales que considere necesarios'
          }
        %>
      </div>
    </div>

    <%= link_to_remove_association "Eliminar Migracion", f, 
      {class: 'btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
