<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <div class="row">
      <div class="col-md-12">
        Salida
      </div>
    </div>
    <div class="row">
      <div class=" offset-md-0 col-md-3">
        <%= f.input :fechasalida, 
          as: :string, 
          label: false,
          input_html: { 
            placeholder: 'Fecha de salida',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
      </div>
      <div class="col-md-3">
        <%= f.association :salida_pais,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'País de salida',
            'data-placeholder' => "País de salida...",
            class: 'chosen-select' 
          } %>
      </div>
      <% pa =  f.object.salida_pais_id %>
      <% col = pa ? Sip::Departamento.habilitados.where(id_pais: pa).order(:nombre) : [] %>
      <div class="col-md-2">
        <%= f.association :salida_departamento,
          collection: col,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Departamento',
            'data-placeholder' => "Departamento de salida...",
            class: 'chosen-select' 
          } %>
      </div>
      <% dep =  f.object.salida_departamento_id %>
      <% col = dep ? Sip::Municipio.habilitados.where(id_departamento: dep).order(:nombre) : [] %>
      <div class="col-md-2">
        <%= f.association :salida_municipio,
          collection: col,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Municipio',
            'data-placeholder' => "Municipio de salida...",
            class: 'chosen-select' 
          } %>
      </div>
      <a data-toggle="collapse" href='#restoubisalida'>
        <h5> + </h5>
      </a>
    </div>
    <div class="collapse div_ubicacionpre" id="restoubisalida">
      <div class="row">
        <div class="col-md-3">
        <% mun =  f.object.salida_municipio_id %>
        <% col = mun ? Sip::Clase.habilitados.where(id_municipio: mun).order(:nombre) : [] %>
          <%= f.association :salida_clase,
            collection: col,
            label_method: :nombre,
            value_method: :id,
            label: false,
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Centro poblado',
              'data-placeholder' => "Centro poblado de salida...",
              class: 'chosen-select' 
            } %>
        </div>
        <% 
          ph = 'Lugar de Salida'
          ac = {'data-autocompleta' => 'no',
                "data-toggle" => 'tooltip'}
           if (!f.object.salida_lugar || f.object.salida_lugar == '')
             ph = 'Lugar salida... (Buscar)'
             ac = {"data-toggle" => 'tooltip'}
           end
         %>
        <div class="col-md-3">
            <%= f.input :salida_lugar,
              label: false,
              placeholder: ph,
              input_html: ac
            %>
            <%= f.input :salidaubicacionpre_id, as: :hidden %>
        </div>

        <div class="col-md-3">
          <%= f.input :salida_sitio,
            label: false,
            placeholder: 'Sitio de salida', 
            input_html: {
              "data-toggle" => 'tooltip'
            } %>
        </div>
        <div class="col-md-3">
          <%= f.association :salida_tsitio,
            collection: Sip::Tsitio.where(fechadeshabilitacion: nil).order(:nombre),
            label_method: :nombre,
            value_method: :id,
            label: false,
            include_blank: false,
            selected: f.object.salida_tsitio_id ? f.object.salida_tsitio_id : 1,
            input_html: {
              "data-toggle" => 'tooltip',
              "title" => 'Seleccione el tipo de sitio'
            } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= f.input :salida_latitud,
            label: false,
            as: :float,
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Latitud'
            } %>
        </div>
        <div class="col-md-3">
          <%= f.input :salida_longitud,
            label: false,
            as: :float,
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Longitud'
            } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
         Vía de Ingreso
        <%= f.association :viadeingreso,
          collection: Viadeingreso.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            'data-placeholder' => "Vía de ingerso...",
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-6">
        Causa de Migración
        <%= f.association :causamigracion,
          collection: Causamigracion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            'data-placeholder' => "Causa de la migración...",
            class: 'chosen-select' 
          } %>
        <% if f.object && f.object.causamigracion_id && 
            f.object.causamigracion_id == 11 %>
          <% estiloracausa = 'display: block' %>
        <% else %>
          <% estilotracausa = 'display: none' %>
        <% end %>
        <div class="otra_causamigracion" style="<%= estilotracausa %>">
          <%= f.input :otracausa, 
            label: "Otra, ¿Cuál?"
          %> 
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        ¿Pagó por el ingreso a Colombia?
        <%= f.association :pagoingreso,
          collection: Sip::Trivalente.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            class: 'chosen-select' 
          } %>
      </div>
      <div class="col-md-6">
        <% if f.object && f.object.pagoingreso_id && 
            f.object.pagoingreso_id == 2 %>
          <% estilodetpago = 'display: block' %>
        <% else %>
          <% estilodetpago = 'display: none' %>
        <% end %>
        <div class="detalles_pago" style="<%= estilodetpago %>">
          <label class="form-check-label">
            Valor (en pesos)
          </label>
          <%= f.input :valor_pago, 
            label: false %>
          <label class="form-check-label">
            Concepto
          </label>
          <%= f.input :concepto_pago,
            label: false %>
          <label class="form-check-label">
            Actor que cobró
          </label>
          <%= f.input :actor_pago,
            label: false %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :ubifamilia,
          label: "¿Dónde se encuentra su familia?",
          input_html: {
            value: f.object.ubifamilia ? f.object.ubifamilia : ''
          } %>
      </div>
      <div class="col-md-6">
        ¿Tuvo algún accidente o dificultad en la migración?
        <%= f.association :dificultadmigracion,
          collection: Dificultadmigracion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: false,
          input_html: {
            "data-toggle" => 'tooltip',
            'data-placeholder' => "Accidentes o dificultades...",
            multiple: true,
            class: 'chosen-select'
          } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        ¿Enfrentó alguna agresión durante la migración?
        <%= f.association :agresionmigracion,
          collection: Agresionmigracion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: false,
          input_html: {
            "data-toggle" => 'tooltip',
            'data-placeholder' => "Agresiones durante la migración...",
            multiple: true,
            class: 'chosen-select'
          } %>
        <% if f.object && f.object.agresionmigracion_ids && 
            f.object.agresionmigracion_ids.include?(13) %>
          <% estilotraagresion = 'display: block' %>
        <% else %>
          <% estilotraagresion = 'display: none' %>
        <% end %>
        <div class="otra_agresionmigracion" style="<%= estilotraagresion %>">
          <%= f.input :otraagresion, 
            label: "¿Cuál otra agresión?"
          %> 
        </div>
      </div>
      <div class="col-md-6">
        <%= f.input :perpetradoresagresion,
          label: "Presuntos perpetradores de la agresión",
          input_html: {
            value: f.object.perpetradoresagresion ? f.object.perpetradoresagresion : ''
          } %>
        Presuntas causas de la agresión
        <%= f.association :causaagresion,
          collection: Causaagresion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: false,
          input_html: {
            "data-toggle" => 'tooltip',
            'data-placeholder' => "Presuntas causas...",
            multiple: true,
            class: 'chosen-select'
          } %>
        <% if f.object && f.object.causaagresion_ids && 
            f.object.causaagresion_ids.include?(8) %>
          <% estilotracausaagresion = 'display: block' %>
        <% else %>
          <% estilotracausaagresion = 'display: none' %>
        <% end %>
        <div class="otra_agresionmigracion" style="<%= estilotracausaagresion %>">
          <%= f.input :otracausaagresion, 
            label: "¿Cúal otra presunta causa de agresión?"
          %> 
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Llegada
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.input :fechallegada, 
          as: :string, 
          label: false,
          input_html: { 
            placeholder: 'Fecha de llegada',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
      </div>
      <div class="col-md-3">
        <%= f.association :llegada_pais,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'País de llegada',
            'data-placeholder' => "País de llegada...",
            class: 'chosen-select' 
          } %>
      </div>
      <% pa =  f.object.llegada_pais_id %>
      <% col = pa ? Sip::Departamento.habilitados.where(id_pais: pa).order(:nombre) : [] %>
      <div class="col-md-2">
        <%= f.association :llegada_departamento,
          collection: col,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Departamento',
            'data-placeholder' => "Departamento de llegada...",
            class: 'chosen-select' 
          } %>
      </div>
      <% dep =  f.object.llegada_departamento_id %>
      <% col = dep ? Sip::Municipio.habilitados.where(id_departamento: dep).order(:nombre) : [] %>
      <div class="col-md-2">
        <%= f.association :llegada_municipio,
          collection: col,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Municipio',
            'data-placeholder' => "Municipio de llegada...",
            class: 'chosen-select' 
          } %>
      </div>
      <a data-toggle="collapse" href='#restoubillegada'>
        <h5> + </h5>
      </a>
    </div>
    <div class="collapse div_ubicacionpre" id="restoubillegada">
      <div class="row">
        <div class="col-md-3">
          <% mun =  f.object.llegada_municipio_id %>
          <% col = mun ? Sip::Clase.where(id_municipio: mun).order(:nombre) : [] %>
          <%= f.association :llegada_clase,
            collection: col,
            label_method: :nombre,
            value_method: :id,
            label: false,
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Centro poblado',
              'data-placeholder' => "Centro poblado de llegada...",
              class: 'chosen-select' 
            } %>
        </div>
        <% 
          ph = 'Lugar de Llegada'
          ac = {'data-autocompleta' => 'no',
                "data-toggle" => 'tooltip'}
           if (!f.object.llegada_lugar || f.object.llegada_lugar == '')
             ph = 'Lugar llegada... (Buscar)'
             ac = {"data-toggle" => 'tooltip'}
           end
         %>
        <div class="col-md-3">
            <%= f.input :llegada_lugar,
              label: false,
              placeholder: ph,
              input_html: ac
            %>
            <%= f.input :llegadaubicacionpre_id, as: :hidden %>
        </div>
        <div class="col-md-3">
          <%= f.input :llegada_sitio,
            label: false,
            placeholder: 'Sitio de llegada', 
            input_html: {
              "data-toggle" => 'tooltip'
            } %>
        </div>
        <div class="col-md-3">
          <%= f.association :llegada_tsitio,
            collection: Sip::Tsitio.where(fechadeshabilitacion: nil).order(:nombre),
            label_method: :nombre,
            value_method: :id,
            label: false,
            include_blank: false,
            selected: f.object.llegada_tsitio_id ? f.object.llegada_tsitio_id : 1,
            input_html: {
              "data-toggle" => 'tooltip',
              "title" => 'Seleccione el tipo de sitio'
            } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= f.input :llegada_latitud,
            label: false,
            as: :float,
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Latitud'
            } %>
        </div>
        <div class="col-md-3">
          <%= f.input :llegada_longitud,
            label: false,
            as: :float,
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Longitud'
            } %>
        </div>
      </div>
    </div>
    <% tiempoestilo = f.object.tiempoenpais == "" ? 
      'display:none' : '' %>
    <div class="row">
      <div class="col-md-6 div_tiempo" style="<%= tiempoestilo %>">
        <%= f.input :tiempoenpais,
          label: "Días desde la llegada:",
          readonly: true,
          input_html: {
            class: 'tiempoenpais'
          } %>
      </div>
    </div>
    <div>
        Perfil de migración
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.association :perfilmigracion,
          collection: ::Perfilmigracion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            class: 'chosen-select' 
          } %>
        <!--%= f.input :perfilmig, as: :check_boxes, collection: ['Pendular', 'En transito', 'Con vocación de permanencia'], wrapper: :custom_collection_inline %-->
        <% edest = !f.object.perfilmigracion || 
          f.object.perfilmigracion_id != 2 ? 
          'display:none' : '' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.input :fechaendestino, 
          as: :string, 
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            value: f.object.fechaendestino ? f.object.fechaendestino : '',
            placeholder: 'Fecha en Destino',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
      </div>
      <div class="col-md-3">
        <%= f.association :destino_pais,
          collection: Sip::Pais.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'País de destino',
            'data-placeholder' => "País de destino...",
            class: 'chosen-select' 
          } %>
      </div>
      <% pa =  f.object.destino_pais_id %>
      <% col = pa ? Sip::Departamento.habilitados.where(id_pais: pa).order(:nombre) : [] %>
      <div class="col-md-2">
        <%= f.association :destino_departamento,
          collection: col,
          label_method: :nombre,
          value_method: :id,
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Departamento',
            'data-placeholder' => "Departamento de destino...",
            class: 'chosen-select' 
          } %>
      </div>
      <% dep =  f.object.destino_departamento_id %>
      <% col = dep ? Sip::Municipio.habilitados.where(id_departamento: dep).order(:nombre) : [] %>
      <div class="col-md-2">
        <%= f.association :destino_municipio,
          collection: col,
          label_method: :nombre,
          value_method: :id,
          label: false,
          wrapper_html: {
            style: edest
          },
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Municipio',
            'data-placeholder' => "Municipio de destino...",
            class: 'chosen-select' 
          } %>
      </div> 
      <div style="<%= edest %>" >
        <a data-toggle="collapse" href='#restoubidestino'>
          <h5> + </h5>
        </a>
      </div>
    </div>
    <div class="collapse div_ubicacionpre" id="restoubidestino">
      <div class="row">
        <% mun =  f.object.destino_municipio_id %>
        <% col = mun ? Sip::Clase.habilitados.where(id_municipio: mun).order(:nombre) : [] %>
        <div class="col-md-3">
          <%= f.association :destino_clase,
            collection: col,
            label_method: :nombre,
            value_method: :id,
            label: false,
            wrapper_html: {
              style: edest
            },
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Centro poblado',
              'data-placeholder' => "Centro poblado de destino...",
              class: 'chosen-select' 
            } %>
        </div>
        <% 
          ph = 'Lugar de Destino'
          ac = {'data-autocompleta' => 'no',
                "data-toggle" => 'tooltip'}
           if (!f.object.destino_lugar || f.object.destino_lugar == '')
             ph = 'Lugar destino... (Buscar)'
             ac = {"data-toggle" => 'tooltip'}
           end
         %>
        <div class="col-md-3">
            <%= f.input :destino_lugar,
              label: false,
              placeholder: ph,
              input_html: ac
            %>
            <%= f.input :destinoubicacionpre_id, as: :hidden %>
        </div>
        <div class="col-md-3">
          <%= f.input :destino_sitio,
            label: false,
            placeholder: 'Sitio de destino', 
            input_html: {
              "data-toggle" => 'tooltip'
            } %>
        </div>
        <div class="col-md-3">
          <%= f.association :destino_tsitio,
            collection: Sip::Tsitio.where(fechadeshabilitacion: nil).order(:nombre),
            label_method: :nombre,
            value_method: :id,
            label: false,
            include_blank: false,
            selected: f.object.destino_tsitio_id ? f.object.destino_tsitio_id : 1,
            wrapper_html: {
              style: edest
            },
            input_html: {
              "data-toggle" => 'tooltip',
              "title" => 'Seleccione el tipo de sitio'
            } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= f.input :destino_latitud,
            label: false,
            as: :float,
            wrapper_html: {
              style: edest
            },
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Latitud'
            } %>
        </div>
        <div class="col-md-3">
          <%= f.input :destino_longitud,
            label: false,
            as: :float,
            wrapper_html: {
              style: edest
            },
            input_html: {
              "data-toggle" => 'tooltip',
              placeholder: 'Longitud'
            } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-0 col-md-6">
        <%= f.association :migracontactopre,
          collection: ::Migracontactopre.habilitados,
          label_method: :nombre,
          value_method: :id,
          input_html: {
            class: 'chosen-select' 
          } %>
      </div>
      <div class="offset-md-0 col-md-6">
        <%= f.association :statusmigratorio,
          collection: Sivel2Sjr::Statusmigratorio.habilitados,
          label_method: :nombre,
          value_method: :id,
          input_html: {
            class: 'chosen-select' 
          } %>
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-6">
        ¿Usted o algun integrante de su familia sufrió alguna agresión en este país?
        <%= f.association :agresionenpais,
          collection: Agresionmigracion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: false,
          input_html: {
            "data-toggle" => 'tooltip',
            'data-placeholder' => "Agresiones...",
            multiple: true,
            class: 'chosen-select'
          } %>
      </div>
      <div class="offset-md-0 col-md-6">
        <%= f.input :perpeagresenpais,
          label: "Presuntos perpetradores de la agresión",
          input_html: {
            value: f.object.perpeagresenpais ? f.object.perpeagresenpais : ''
          } %>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="offset-md-0 col-md-6">    
      </div>
      <div class="offset-md-0 col-md-6">
        Presuntas causas de la agresión
        <%= f.association :causaagrpais,
          collection: Causaagresion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: false,
          input_html: {
            "data-toggle" => 'tooltip',
            'data-placeholder' => "Presuntas causas...",
            multiple: true,
            class: 'chosen-select'
          } %>
        <% if f.object && f.object.causaagrpais_ids && 
            f.object.causaagrpais_ids.include?(8) %>
          <% estilotracagpais = 'display: block' %>
        <% else %>
          <% estilotracagpais = 'display: none' %>
        <% end %>
        <div class="otra_causaagrpais" style="<%= estilotracagpais %>">
          <%= f.input :otracausagrpais, 
            label: "¿Cúal otra presunta causa de agresión?",
            input_html: {
              value: f.object.otracausagrpais ? f.object.otracausagrpais : ''
          } %>
        </div>


      </div>
    </div> <!-- row -->
    
    
    <% ecamposPep = (f.object.statusmigratorio &&
      (f.object.statusmigratorio_id == 1 || 
       f.object.statusmigratorio_id == 5 ||
       f.object.statusmigratorio_id == 6))  ?  '' : 'display:none' %>

    <div class="row" id="camposPep" style="<%= ecamposPep %>">
      <div class="offset-md-0 col-md-6">
        <div class="row">
          <div class="offset-md-0 col-md-8">
            <label class="form-check-label" for="riesgoApatridia">
              ¿Cuenta con PEP?
            </label>  
          </div>
          <div class="offset-md-0 col-md-4">
            <%=f.input :pep, 
              label: false,
              :collection => { 'No' => 0, 'Si' => 1}, 
              input_html: {
                "data-toggle" => 'tooltip',
                "title" => '¿Cuenta con Permiso Especial de Permanencia?',
                class: 'chosen-select' 
              },
              selected: f.object.pep ? 1 : 0 %>
          </div>
        </div>
      </div>
      <% pepest = !f.object.pep ? 
        'display:none' : '' %>
      <div class="offset-md-0 col-md-3" style=<%= pepest %>>
        <div>
          Fecha de Registro PEP:
        </div>
        <%= f.input :fechaPep, 
          as: :string, 
          label: false,
          input_html: { 
            value: f.object.fechaPep ? f.object.fechaPep : '',
            placeholder: 'Seleccione fecha',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
      </div>
      <div class="offset-md-0 col-md-3" style=<%= pepest %>>
          <%= f.input :tipopep, 
            label: "Tipo de PEP",
            input_html: {
              value: f.object.tipopep ? f.object.tipopep : ''
            } %>
      </div>
    </div> 

    <div class="row">
      <div class="offset-md-0 col-md-6">
        <label class="form-check-label" for="riesgoApatridia">
          Persona con NPI
        </label>  
        <%= f.input :proteccion_id,
          collection: Sivel2Sjr::Proteccion.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          input_html: {
            "data-toggle" => 'tooltip',
            "title" => 'Elegir de la lista el Nivel Protección Internacional que requiere el solicitante',
            class: 'chosen-select' 
          } %>
      </div>
      <% npiotroest = f.object.proteccion && f.object.proteccion_id == 7 ? 
        '' : 'display:none' %>
      <div class="col-md-6" style=<%= npiotroest %>>
        <%= f.input :otronpi, 
          label: "Otro, ¿Cuál?",
          input_html: {
            value: f.object.otronpi ? f.object.otronpi : ''
          } %>
      </div>
    </div>   <!--row -->
      
    <% npiest = f.object.proteccion && 
      (f.object.proteccion_id == 8 || f.object.proteccion_id == 1) ? 
      '' : 'display:none' %>
    <div class='sec_refugio' style='<%= npiest %>'>
      REFUGIO
      <div class="row">
        <div class="col-md-6 datosNpi">
          Fecha de declaración:
          <%= f.input :fechaNpi, 
          as: :string, 
          label: false,
          input_html: { 
            value: f.object.fechaNpi ? f.object.fechaNpi : '',
            "title" => 'Seleccione fecha de registro',
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip'
          } %>
        </div>
        <div class="col-md-6">
          Autoridad ante la cual declaró refugio
          <%= f.association :autoridadrefugio,
            collection: Autoridadrefugio.habilitados,
            label_method: :nombre,
            value_method: :id,
            label: false,
            input_html: {
              "data-toggle" => 'tooltip',
              'data-placeholder' => "Autoridad...",
              class: 'chosen-select' 
            } %>
          <% autotraest = f.object.autoridadrefugio && f.object.autoridadrefugio_id == 5 ? 
            '' : 'display:none' %>
          <div style=<%= autotraest %>>
            <%= f.input :otraautoridad, 
              label: "Otra, ¿Cuál?",
              input_html: {
                value: f.object.otraautoridad ? f.object.otraautoridad : ''
              } %>
          </div>
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-6">
          Número de salvoconducto:
          <%= f.input :salvoNpi,
          as: :string,
          label: false,
          input_html: {
            value: f.object.salvoNpi ? f.object.salvoNpi : '',
          } %>
        </div>
        <div class="col-md-6">
          Causa del refugio:
          <%= f.association :causaRefugio, 
          collection: Sivel2Gen::Categoria.habilitados.
          where(supracategoria_id: [200,201,202]),
          label: false,
          label_method: :nombre,
          value_method: :id,
          input_html: {
            "data-toggle" => 'tooltip',
            placeholder: 'Causa del refugio',
            'data-placeholder' => "Causa del refugio...",
            class: 'chosen-select' 
          } %>
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-6">
          Tipo de protección en refugio
          <%= f.association :tipoproteccion,
            collection: Tipoproteccion.habilitados,
            label_method: :nombre,
            value_method: :id,
            label: false,
            input_html: {
              "data-toggle" => 'tooltip',
              'data-placeholder' => "Tipo de protección...",
              class: 'chosen-select' 
            } %>
        </div>
        <div class="offset-md-0 col-md-6">
          Miembros del grupo familiar incluidos en refugio
          <%= f.association :miembrofamiliar,
            collection: Miembrofamiliar.habilitados,
            label_method: :nombre,
            value_method: :id,
            label: false,
            input_html: {
              "data-toggle" => 'tooltip',
              'data-placeholder' => "Miembros familiares...",
              class: 'chosen-select' 
            } %>
          <% miemest = f.object.miembrofamiliar && f.object.miembrofamiliar_id == 6 ? 
            '' : 'display:none' %>
          <div style=<%= miemest %>>
            <%= f.input :otromiembro, 
              label: "Otros, ¿Cuál?",
              input_html: {
                value: f.object.otromiembro ? f.object.otromiembro : ''
              } %>
          </div>
        </div>
      </div>  <!-- row -->

    </div> <!-- sec_refugio-->

    <div class="row">
      <div class="offset-md-0 col-md-12">
        <label class="form-check-label">
          Observaciones
        </label>
        <%= f.input :observacionesref, 
          label: false,
          input_html: {
            value: f.object.observacionesref ? f.object.observacionesref : '',
            "data-toggle" => 'tooltip',
            "title" => 'Añada los comentarios adicionales que considere necesarios'
          }
        %>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="offset-md-0 col-md-6">
        <label class="form-check-label">
          ¿Cómo valora el trato que le han dado las autoridades migratorias en este país?
        </label>
        <%= f.input :tratoauto, 
          label: false,
          input_html: {
            value: f.object.tratoauto ? f.object.tratoauto : ''
          }
        %>
      </div>
      <div class="offset-md-0 col-md-6">
        <label class="form-check-label">
          ¿Cómo valora el trato que le han dado los residentes de este país?
        </label>
        <%= f.input :tratoresi, 
          label: false,
          input_html: {
            value: f.object.tratoresi ? f.object.tratoresi : ''
          }
        %>
      </div>
    </div> <!-- row -->

    <%= link_to_remove_association "Eliminar Migracion", f, 
      {class: 'btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
