<h1>Actividades donde el beneficiario es el caso</h1>
<% ga = Cor1440Gen::Actividad.joins('INNER JOIN sivel2_sjr_actividad_casosjr ' +
   'ON sivel2_sjr_actividad_casosjr.actividad_id = cor1440_gen_actividad.id').
   where('sivel2_sjr_actividad_casosjr.casosjr_id = ?', f.object.id) %>
<% ga2 = ga.joins('INNER JOIN cor1440_gen_actividad_actividadpf '+
   'ON cor1440_gen_actividad_actividadpf.actividad_id=cor1440_gen_actividad.id').
   where('cor1440_gen_actividad_actividadpf.actividadpf_id=62') %>
<% ga2.each  do |ac| %>

  <div class="panel panel-default">
    <div class="panel-heading">RESPUESTA/SEGUIMIENTO EN ACTIVIDAD #<%= ac.id %></div>
    <div class="panel-body">
      <div class='row'>
        <div class='col-xs-6'>Fecha: <%= ac.fecha %></div>
        <div class='col-xs-6'>Asesor: <%= ac.responsable.nusuario %></div>
      </div>
      <div class='row'>
        <% dv = ac.respuestafor.where(formulario_id: 10) %>
        <div class='col-xs-12'>Derechos vulnerados:
          <% if dv.count == 0 %>
            <p style='alert'>Faltan derechos vulnerados!</p>
          <% elsif dv.count > 1 %>
            <p style='alert'>Más de una sección de derechos vulnerados!</p>
          <% else %>
            <% dv = dv.take %>
            <%= dv.valorcampo.where(campo_id: 100).take.valorjson.
              select {|i| i != ''}.
              map { |id| Sivel2Sjr::Derecho.find(id.to_i).nombre }.
              join("; ") 
            %>
          <% end %> 
        </div>
      </div>

      <% ah = ac.respuestafor.where(formulario_id: 11) %>
      <% if ah.count > 1 %>
        <p style='alert'>Más de una sección de asistencia humanitaria</p>
      <% elsif ah.count == 1%>
        <% ah = ah.take %>
        <div class="panel panel-default">
          <div class="panel-heading">ASISTENCIA HUMANITARIA</div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-xs-6'>Asistencia humanitaria: 
                <%= ah.valorcampo.where(campo_id: 110).take.valorjson.
                  select {|i| i != ''}.
                  map { |id| Sivel2Sjr::Ayudasjr.find(id.to_i).nombre }.
                  join("; ") 
                %>
              </div>
              <div class='col-xs-6'>Detalle: 
                <%= ah.valorcampo.where(campo_id: 111).take.valor %>
              </div>
            </div>
          </div> <!-- panel-body asistencia humanitaria-->
        </div> <!-- panel -->
      <% end %>

      <% al = ac.respuestafor.where(formulario_id: 13) %>
      <% if al.count > 1 %>
        <p style='alert'>Más de una sección de asesoria jurídica</p>
      <% elsif al.count == 1%>
        <% al = al.take %>
        <div class="panel panel-default">
          <div class="panel-heading">ASESORIA JURÍDICA</div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-xs-6'>Asesoria Jurídica: 
                <%= al.valorcampo.where(campo_id: 130).take.valorjson.
                  select {|i| i != ''}.
                  map { |id| Sivel2Sjr::Aslegal.find(id.to_i).nombre }.
                  join("; ") 
                %>
              </div>
              <div class='col-xs-6'>Detalle: 
                <%= al.valorcampo.where(campo_id: 131).take.valor %>
              </div>
            </div>
          </div> <!-- panel-body asesoria jurídica -->
        </div> <!-- panel -->
      <% end %>

      <% aj = ac.respuestafor.where(formulario_id: 14) %>
      <% if aj.count > 1 %>
        <p style='alert'>Más de una sección de acción jurídica</p>
      <% elsif aj.count == 1%>
        <% aj = aj.take %>
        <div class="panel panel-default">
          <div class="panel-heading">ACCIÓN JURÍDICA</div>
          <div class="panel-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Acción Jurídica</th>
                  <th scope="col">Respuesta</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= rt = aj.valorcampo.where(campo_id: 140).take.valor; rt == nil? || rt == '' ? '' : Sivel2Sjr::Accionjuridica.find(rt).nombre %></th>
                  <td><%= rt = aj.valorcampo.where(campo_id: 141).take.valor; rt == nil? || rt == '' ? '' : Sivel2Sjr::Trivalente.find(rt).nombre %></th>
                </tr>
                <% if aj.valorcampo.where(campo_id: 142).count == 1 %>
                  <tr>
                    <td><%= rt = aj.valorcampo.where(campo_id: 142).take.valor; rt == nil? || rt == '' ? '' : Sivel2Sjr::Accionjuridica.find(rt).nombre %></th>
                    <td><%= rt = aj.valorcampo.where(campo_id: 143).take.valor; rt == nil? || rt == '' ? '' : Sivel2Sjr::Trivalente.find(rt).nombre %></th>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- panel-body accion juridica -->
        </div> <!-- panel -->
      <% end %>

      <% os = ac.respuestafor.where(formulario_id: 15) %>
      <% if os.count > 1 %>
        <p style='alert'>Más de una sección de otors servicios y asesorias</p>
      <% elsif os.count == 1%>
        <% os = os.take %>
        <div class="panel panel-default">
          <div class="panel-heading">OTROS SERVICIOS Y ASESORIAS</div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-xs-6'>Otros servicios y asesorias: 
                <%= os.valorcampo.where(campo_id: 150).take.valorjson.
                  select {|i| i != ''}.
                  map { |id| Sivel2Sjr::Motivosjr.find(id.to_i).nombre }.
                  join("; ") 
                %>
              </div>
              <div class='col-xs-6'>Detalle: 
                <%= os.valorcampo.where(campo_id: 151).take.valor %>
              </div>
            </div>
          </div> <!-- panel-body otros servicios y asesorias -->
        </div> <!-- panel -->
      <% end %>



      <% if can?(:edit, ac) %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          cor1440_gen.edit_actividad_path(ac),
          target: '_blank',
          :class => 'btn btn-xs' %>
      <% end %>
    </div> <!-- panel-body respuesta -->
  </div> <!-- panel respuesta -->

<% end %>


<div class='row'>
  <div class="col-md-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">Asistencia humanitaria</label>
    </div>
  </div>
  <div class="col-md-2">

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">Orientación jurídica</label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" 
      <label class="form-check-label" for="inlineCheckbox3">Acción jurídica</label>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
      <label class="form-check-label" for="inlineCheckbox4">Otros servicios y asesorias</label>
    </div>
  </div>
  <div class="col-md-4">

    <% if can?(:edit, f.object) %>
      <%= link_to 'Nueva respuesta/seguimiento',
        cor1440_gen.new_actividad_path,
        target: '_blank',
        :class => 'btn btn-xs' %>
    <% end %>
  </div>
</div> <!-- row -->

<div class="panel panel-default">
  <div class="panel-heading">OTRA ACTIVIDAD CON CASO BENEFICIARIO #x</div>
  <div class="panel-body">
  </div> <!-- panel-body otra act caso-->
</div>

<h1>Actividades donde algunas personas del caso son beneficiarias</h1>
...

