<div class="panel panel-default">
  <div class="panel-heading">Derechos Vulnerados</div>
  <div class="panel-body">
    <%= f.association :derecho, 
      collection: Sivel2Sjr::Derecho.habilitados,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Elija uno o varios derechos vulnerados que reporte la persona en la atención. Para elegir varios pulse Control y seleccione los derechos que sean necesarios'
      }
     %>
    <%= f.input :informacionder, 
      boolean_style: :nested,
      inline_label: Sivel2Sjr::Respuesta.human_attribute_name(:informacionder),
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Seleccione si el SJR brindó información frente a los derechos vulnerados)'
      }
    %>
    <%= f.input :accionesder, 
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Describa las medidas ha tomado el solicitante para restituir sus derechos'
      }
   %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Respuesta del Estado</div>
  <div class="panel-body">
    <%= f.association :ayudaestado, 
      collection: Sivel2Sjr::Ayudaestado.habilitados,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Seleccione las ayudas otorgadas por instituciones públicas'
      }
    %>
    <%= f.input :cantidadayes, 
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Cantidad de dinero otorgada por el Estado'
      }
    %>
    <%= f.input :institucionayes, 
      wrapper_html: { style: "padding-bottom: 18px;" },
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Organizaciones o entidades que han brindado ayuda al solicitante'
      }
    %>
    <%= f.association :progestado, 
      collection: Sivel2Sjr::Progestado.habilitados,
      label_method: :nombre, 
      value_method: :id,
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Marque el programa o respuesta que corresponda'
      }
    %>
    <%= f.input :difobsprog, 
      wrapper_html: { style: "padding-bottom: 18px;" },
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Comentarios adicionales frente a la respuesta del Estado'
      }
    %>
    <%= f.input :numprorrogas, as: :integer %>
    <%= f.input :montoprorrogas, as: :integer %>
    <%= f.input :fechaultima, 
      input_html: { 
        "data-behaviour" => "datepicker",
        value: f.object.fechaultima || '' 
      },
      as: :string
    %>
    <%= f.input :lugarultima, as: :text %>
    <%= f.input :turno, as: :text %>
    <%= f.input :lugar, as: :text %>
  </div>
</div>

