<div class='control-group nested-fields'>
  <div class="controls">
    <br>
    <h5>DATOS BÁSICOS DEL MIEMBRO DEL GRUPO FAMILIAR</h5>
    <% if f.object.persona.nil?
        f.object.persona = Sip::Persona.new(nombres: '')
        f.object.victimasjr = Sivel2Sjr::Victimasjr.new
       end %>
       
    <%= f.simple_fields_for :victimasjr do |fvictimasjr| %>
      <%= f.simple_fields_for :persona do |fp| %>

      <%= fp.input :id, as: :hidden %>
      <% 
        ph = 'N'
        ac = {'data-autocompleta' => 'no' }
         if (!fp.object.nombres || fp.object.nombres == 'N' || fp.object.nombres == '')
           ph = 'Buscar'
           ac = { }
         end
       %>
    <%= render partial: 'basicos', locals: {p: fp, victima: f} %>

    <br>
    <h5>ANEXOS</h5>
    <div class="row">
    </div>
    <br>
    <h5>DATOS AMPLIOS DEL MIEMBRO DEL GRUPO FAMILIAR</h5>
        <% [2,4,5,1].each do |i| %>
          <%= render partial: 'victima_campos' + i.to_s, 
            locals: { victima: f, 
                      victimasjr: fvictimasjr,
                      persona: fp }
          %>
        <% end %>
  
    <br>
    <h5>GESTIÓN DEL MIEMBRO</h5>
        <%= fvictimasjr.input :fechadesagregacion, 
          input_html: { 
            "data-behaviour" => "datepicker",
            "data-toggle" => 'tooltip',
            title: 'Sólo se llena si la persona sale del grupo familiar y se registra la fecha en la que salió del grupo familiar (sin eliminar a la persona del grupo familiar que queda como información histórica)'
          },
          as: :string, 
          label: "Fecha de Desagregación" 
        %>
      <% end %> <!-- simple_fields_for :persona-->
    <% end %> <!-- simple_fields_for :fvictimasjr -->

    <%= link_to_remove_association "Eliminar Víctima", f, 
      {class: 'btn-danger', :'data-existing' => 'true'} %> 
  </div>
</div>
