<%- model_class = Sivel2Gen::Caso -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>
<table>
  <tr><th><strong><%= Sivel2Gen::Caso.human_attribute_name(:id) %>:</strong></th><td><%= @caso.id %></td></tr>
  <tr><th><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:fecharec) %>:</strong></th>
    <td><%= @caso.casosjr.fecharec if @caso.casosjr %></td></tr>
  <tr><th><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:oficina) %>:</strong></th>
    <td><%= @caso.casosjr.oficina.nombre if @caso.casosjr && @caso.casosjr.oficina %></td></tr>
  <tr><th><strong><%= Sivel2Gen::Caso.human_attribute_name(:fecha) %>:</strong></th>
    <td><%= @caso.fecha %></td></tr>
</table>
<dl>
  <% if @caso.memo && @caso.memo != '' %>
    <dt><strong><%= Sivel2Gen::Caso.human_attribute_name(:memo) %>:</strong></dt>
    <dd><%= @caso.memo %></dd>
  <% end %>
</dl>
<table>
  <tr><th><strong><%= Sivel2Gen::Caso.human_attribute_name(:created_at) %>:</strong></th>
    <td><%= @caso.created_at %></td></tr>
  <tr><th><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:asesor) %>:</strong></th>
    <td><%= @caso.casosjr.usuario.nusuario if @caso.casosjr %></td></tr>
  <% if @caso.casosjr && @caso.casosjr.contacto %>
    <tr><th><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:contacto) %>:</strong></th>
      <td><%= (@caso.casosjr.contacto.nombres + " " + @caso.casosjr.contacto.apellidos) %></td></tr>
  <% end %>
  <% if @caso.casosjr && @caso.casosjr.direccion != '' %>
    <tr><th><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:direccion) %>:</strong></th>
      <td><%= @caso.casosjr.direccion %></td></tr>
  <% end %>
  <% if @caso.casosjr && @caso.casosjr.telefono != '' %>
    <tr><th><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:telefono) %>:</strong></th>
      <td><%= @caso.casosjr.telefono %></td></tr>
  <% end %>

</table>

<dl>
  <dt><strong>Atencion/es brindadas hasta el momento:</strong></dt>

  <% # SEGUIMIENTO A CASOS %> 
  <% ga = Cor1440Gen::Actividad.joins(
    'INNER JOIN sivel2_sjr_actividad_casosjr ' +
    'ON sivel2_sjr_actividad_casosjr.actividad_id = cor1440_gen_actividad.id').
    where('sivel2_sjr_actividad_casosjr.casosjr_id = ?', @caso.casosjr.id) %>
  <dd>
  <table style="width: 100%">
    <tr>
      <th>Actividad</th>
      <th>Fecha de Atención</th>
      <th>Tipo de atención</th>
      <th>Convenio Financiador</th>
    </tr>
    <% ga.each do |g| %>
      <tr>
        <td>
          <%= link_to g.id.to_s,
            cor1440_gen.edit_actividad_path(g),
            target: '_blank' %>
      </td>
      <td><%= g.fecha %></td>
      <td><%= g.actividadpf.pluck(:titulo).uniq.join(', ')%></td>
      <td>
        <% pfs= [] %>
        <% pfs = g.proyectofinanciero_ids.uniq - [10] %>
        <% if pfs != [] %>
          <% convenio = pfs.inject('') {|memo, p| 
            pf = Cor1440Gen::Proyectofinanciero.find(p)
            memo == '' ? pf.nombre : memo + '; ' + pf.nombre } %>
        <% end %>
        <%= convenio %>
      </td>
      </tr>
    <% end %>
  </table>
  </dd>
</dl>
<%= link_to 'Descargar Política de Protección de Datos', '/docs/proteccion_datos.ods', target:"_blank" %>
<div class="form-actions">
  <%= link_to t('.back', default: t("helpers.links.back")),
    casos_path, class: 'btn'  
  %>
<%= link_to t('.edit', default: t("helpers.links.edit")),
  edit_caso_path(@caso), class: 'btn' 
%>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
    caso_path(@caso),
    method: 'delete',
    data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: '¿Está seguro(a)?')) },
    class: 'btn btn-danger' 
  %>
</div>
