<%- model_class = Sivel2Gen::Caso -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>
<dl>
  <dt><strong><%= Sivel2Gen::Caso.human_attribute_name(:id) %>:</strong></dt><dd><%= @caso.id %></dd>
  <dt><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:fecharec) %>:</strong></dt>
  <dd><%= @caso.casosjr.fecharec if @caso.casosjr %></dd>
  <dt><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:oficina) %>:</strong></dt>
  <dd><%= @caso.casosjr.oficina.nombre if @caso.casosjr && @caso.casosjr.oficina %></dd>
  <dt><strong><%= Sivel2Gen::Caso.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @caso.fecha %></dd>
  <% if @caso.memo && @caso.memo != '' %>
    <dt><strong><%= Sivel2Gen::Caso.human_attribute_name(:memo) %>:</strong></dt>
    <dd><%= @caso.memo %></dd>
  <% end %>
  <dt><strong><%= Sivel2Gen::Caso.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @caso.created_at %></dd>
  <dt><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:asesor) %>:</strong></dt>
  <dd><%= @caso.casosjr.usuario.nusuario if @caso.casosjr %></dd>
  <% if @caso.casosjr && @caso.casosjr.contacto %>
    <dt><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:contacto) %>:</strong></dt>
    <dd><%= (@caso.casosjr.contacto.nombres + " " + @caso.casosjr.contacto.apellidos) %></dd>
  <% end %>
  <% if @caso.casosjr && @caso.casosjr.direccion != '' %>
    <dt><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:direccion) %>:</strong></dt>
    <dd><%= @caso.casosjr.direccion %></dd>
  <% end %>
  <% if @caso.casosjr && @caso.casosjr.telefono != '' %>
    <dt><strong><%= Sivel2Sjr::Casosjr.human_attribute_name(:telefono) %>:</strong></dt>
    <dd><%= @caso.casosjr.telefono %></dd>
  <% end %>
    <dt><strong>Atenciones:</strong></dt>

  <% # SEGUIMIENTO A CASOS %> 
  <% ga = Cor1440Gen::Actividad.joins(
    'INNER JOIN sivel2_sjr_actividad_casosjr ' +
    'ON sivel2_sjr_actividad_casosjr.actividad_id = cor1440_gen_actividad.id').
    where('sivel2_sjr_actividad_casosjr.casosjr_id = ?', @caso.casosjr.id) %>
  <dd>
    <table style="width: 100%">
      <tr>
        <th>Actividad</th>
        <th>Fecha de Atención</th>
        <th>Tipo de atención</th>
        <th>Convenio Financiador</th>
      </tr>
      <% ga.each do |g| %>
      <tr>
        <td>
          <%= link_to g.id.to_s,
          cor1440_gen.edit_actividad_path(g),
          target: '_blank' %>
        </td>
        <td><%= g.fecha %></td>
        <td>Tipo</td>
        <td>
          <% pfs= [] %>
          <% pfs = g.proyectofinanciero_ids - [10] %>
          <% if pfs != [] %>
            <% convenio = pfs.inject('') {|memo, p| 
              pf = Cor1440Gen::Proyectofinanciero.find(p)
              memo == '' ? pf.nombre : memo + '; ' + pf.nombre } %>
          <% end %>
          <%= convenio %>
         </td>
         </tr>
        <% end %>
    </table>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', default: t("helpers.links.back")),
    casos_path, class: 'btn'  
  %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
    edit_caso_path(@caso), class: 'btn' 
  %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
    caso_path(@caso),
    method: 'delete',
    data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: '¿Está seguro(a)?')) },
    class: 'btn btn-danger' 
  %>
</div>
